html {
  font-size: 100%;
}

body {
  font-family: sans-serif;
}

header {
  background-color: #262626;
  color: #FEF;
}

header h1 {
  font-family: 'brother-1816', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.75rem;
}

nav > a:active, a:visited, a:link, a:hover {
  text-decoration: none;
  font-size: 1.5em;
}

nav a:link, a:visited {
  color: #FFF;
}

nav a:hover {
  color: #CCCCFF;
}

nav ul > :first-child {
  background-color: #333333;
}

nav ul > :nth-child(2) {
  background-color: #3F3F3F;
}

nav ul > :nth-child(3) {
  background-color: #4C4C4C;
}

nav ul > :nth-child(4) {
  background-color: #585859;
}

.button {
  background-color: #585859;
  font-size: 1rem;
}
