/***
 *    ███████╗ ██████╗ ███╗   ██╗████████╗███████╗
 *    ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝
 *    █████╗  ██║   ██║██╔██╗ ██║   ██║   ███████╗
 *    ██╔══╝  ██║   ██║██║╚██╗██║   ██║   ╚════██║
 *    ██║     ╚██████╔╝██║ ╚████║   ██║   ███████║
 *    ╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝
 *
 */

/*
Brother 1816 Regular

font-family: brother-1816, sans-serif;
font-weight: 400;
font-style: normal;


Brother 1816 Bold

font-family: brother-1816, sans-serif;
font-weight: 700;
font-style: normal;


Brother 1816 ExtraBold

font-family: brother-1816, sans-serif;
font-weight: 800;
font-style: normal;
*/

@font-face {
  font-family: "LoraBoldItalic";
  src: url("../fonts/lora-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/lora-bolditalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "LoraBold";
  src: url("../fonts/lora-bold-webfont.woff2") format("woff2"),
    url("fonts/lora-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "LoraRegular";
  src: url("../fonts/lora-regular-webfont.woff2") format("woff2"),
    url("../fonts/lora-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "OpenSansItalic";
  src: url("../fonts/opensans-italic-webfont.woff2") format("woff2"),
    url("../fonts/opensans-italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/opensans-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "OpenSansSemiBoldItalic";
  src: url("../fonts/opensans-semibolditalic-webfont.woff2") format("woff2"),
    url("../fonts/opensans-semibolditalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/opensans-semibold-webfont.woff2") format("woff2"),
    url("../fonts/opensans-semibold-webfont.woff") format("woff");
}

@font-face {
  font-family: "WorkSansBold";
  src: url("../fonts/worksans-bold-webfont.woff2") format("woff2"),
    url("../fonts/worksans-bold-webfont.woff") format("woff");
}

/***
 *     ██████╗ ███████╗███╗   ██╗███████╗██████╗  █████╗ ██╗
 *    ██╔════╝ ██╔════╝████╗  ██║██╔════╝██╔══██╗██╔══██╗██║
 *    ██║  ███╗█████╗  ██╔██╗ ██║█████╗  ██████╔╝███████║██║
 *    ██║   ██║██╔══╝  ██║╚██╗██║██╔══╝  ██╔══██╗██╔══██║██║
 *    ╚██████╔╝███████╗██║ ╚████║███████╗██║  ██║██║  ██║███████╗
 *     ╚═════╝ ╚══════╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝
 *
 */

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  padding-top: 5.5rem;
  width: 100%;
}

body {
  font: 1rem/1.5rem "OpenSansRegular", sans-serif;
}

footer,
main {
  padding: 0 1.5rem;
}

footer {
  background-color: #333;
  height: ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "brother-1816", "WorkSansBold", sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

p {
  margin: 0 0 0.75rem;
}

a:link,
a:visited {
  color: #4ab19d;
  font-weight: bold;
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  color: #344e5c;
  font-weight: bold;
  text-decoration: underline;
}

/***
 *    ██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗
 *    ██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
 *    ███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
 *    ██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
 *    ██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
 *    ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
 *
 */

header {
  background-color: #262626;
  color: #fef;
  height: 5.5rem;
  box-shadow: 0 0.3125rem 0.375rem rgba(0, 0, 0, 25%);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 60;
}

header h1 {
  font-family: "brother-1816", "WorkSansBold", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  font-style: normal;
}

header a#logo {
  display: block;
  margin: 0.5625rem 1.5rem;
  width: 5.375rem;
}

a#hamburger {
  display: block;
  position: absolute;
  top: 2rem;
  right: 1.5rem;
}

span.bar {
  background-color: #fff;
  display: block;
  height: 0.25rem;
  width: 2.5rem;
  margin-bottom: 0.4rem;
  border-radius: 0.125rem;
}

/***
 *    ███╗   ██╗ █████╗ ██╗   ██╗
 *    ████╗  ██║██╔══██╗██║   ██║
 *    ██╔██╗ ██║███████║██║   ██║
 *    ██║╚██╗██║██╔══██║╚██╗ ██╔╝
 *    ██║ ╚████║██║  ██║ ╚████╔╝
 *    ╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝
 *
 */

nav ul {
  font: 800 1.25rem "brother-1816", "WorkSansBold", sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  z-index: 40;
}

/* Is there a more efficient way to organize these? */
nav a:active,
nav a:focus,
nav a:hover,
nav a:link,
nav a:visited {
  box-shadow: 0 0 0.375rem rgba(0, 0, 0, 25%);
  color: #fef;
  display: block;
  height: 12.063rem;
  padding: 5.125rem 0;
  position: absolute;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

a:link#home,
a:visited#home {
  background-color: #333333;
  height: 36.188rem;
  left: 0;
  padding-top: 2rem;
  top: 0;
  width: 20%;
  z-index: 50;
}

a:active#home,
a:focus#home,
a:hover#home {
  background-color: #344e5c;
}

a:link#about,
a:visited#about {
  background-color: #3f3f3f;
  top: 0;
  z-index: 40;
}

a:active#about,
a:focus#about,
a:hover#about {
  background-color: #4ab19d;
}

a:link#port,
a:visited#port {
  background-color: #4c4c4c;
  top: 12.063rem;
  z-index: 20;
}

a:active#port,
a:focus#port,
a:hover#port {
  background-color: #e17a47;
}

a:link#design_blog,
a:visited#design_blog {
  background-color: #585859;
  top: 24.126rem;
  z-index: 10;
}

a:active#design_blog,
a:focus#design_blog,
a:hover#design_blog {
  background-color: #ef3d59;
}

/***
 *
 *    ███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗
 *    ██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
 *    █████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
 *    ██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
 *    ██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
 *    ╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝
 *
 */

footer {
  background-color: #333;
  color: #585859;
  font-size: 0.75rem;
  height: 3rem;
  padding: 0.75rem 0.5rem;
}

footer p {
  margin: 0;
}

/***
 *    ███████╗██╗     ███████╗███╗   ███╗███████╗███╗   ██╗████████╗███████╗
 *    ██╔════╝██║     ██╔════╝████╗ ████║██╔════╝████╗  ██║╚══██╔══╝██╔════╝
 *    █████╗  ██║     █████╗  ██╔████╔██║█████╗  ██╔██╗ ██║   ██║   ███████╗
 *    ██╔══╝  ██║     ██╔══╝  ██║╚██╔╝██║██╔══╝  ██║╚██╗██║   ██║   ╚════██║
 *    ███████╗███████╗███████╗██║ ╚═╝ ██║███████╗██║ ╚████║   ██║   ███████║▄█╗
 *    ╚══════╝╚══════╝╚══════╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝╚═╝
 *
 *     ██████╗██╗      █████╗ ███████╗███████╗███████╗███████╗
 *    ██╔════╝██║     ██╔══██╗██╔════╝██╔════╝██╔════╝██╔════╝
 *    ██║     ██║     ███████║███████╗███████╗█████╗  ███████╗
 *    ██║     ██║     ██╔══██║╚════██║╚════██║██╔══╝  ╚════██║
 *    ╚██████╗███████╗██║  ██║███████║███████║███████╗███████║▄█╗
 *     ╚═════╝╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝╚══════╝╚═╝
 *
 *    ██╗██████╗ ███████╗
 *    ██║██╔══██╗██╔════╝
 *    ██║██║  ██║███████╗
 *    ██║██║  ██║╚════██║
 *    ██║██████╔╝███████║
 *    ╚═╝╚═════╝ ╚══════╝
 *
 */

a.button:active,
a.button:focus,
a.button:hover,
a.button:link,
a.button:visited {
  border-radius: 2.5rem;
  box-shadow: 0 0.125rem 0.5rem 0.25rem rgba(50, 50, 50, 12%);
  color: #fef;
  display: inline-block;
  font-family: "OpenSansSemiBold", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
}

a.button:link,
a.button:visited {
  background-color: #4ab19d;
}

a.button:active,
a.button:focus,
a.button:hover {
  background-color: #344e5c;
  box-shadow: 0 0.125rem 0.5rem 0.25rem rgba(0, 0, 0, 12%);
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  margin: 1.5rem;
}

figcaption h1 {
  line-height: 2.25rem;
  width: 10rem;
}

figcaption h2 {
  font: italic 1.15rem/1.5rem "LoraRegular", serif;
  text-transform: none;
}

figure.portrait figcaption {
  position: absolute;
  bottom: 2rem;
}

h1 {
  font: 800 2.75rem/3rem "brother-1816", "WorkSansBold", sans-serif;
  margin: 1.5rem 0;
}

h2 {
  font: 800 1.75rem/2rem "brother-1816", "WorkSansBold", sans-serif;
  margin: 0 0 1.125rem;
}

h3 {
  font: 700 1.5rem "brother-1816", "WorkSansBold", sans-serif;
  margin: 0 0 0.75rem;
}

h4 {
  font: 700 1rem "brother-1816", "WorkSansBold", sans-serif;
  margin: 0 0 0.375rem;
}

li ul {
  margin-bottom: 0.375rem;
}

section {
  margin-bottom: 1.5rem;
}

span.ai {
  background-color: green;
  border-radius: inherit;
  display: block;
  height: inherit;
  width: 90%;
}

span.meter {
  background-color: #e0e0e0;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.5rem 0.125rem rgba(50, 50, 50, 12%);
  display: inline-block;
  height: 1rem;
  margin-left: 1rem;
  width: 6rem;
}

span.ps {
  background-color: green;
  border-radius: inherit;
  display: block;
  height: inherit;
  width: 75%;
}

table {
  width: 100%;
}

td {
  padding: 0;
  vertical-align: baseline;
  width: 50%;
}

ul {
  margin: 0 0 0.75rem;
}

.resume ul {
  list-style-type: none;
  padding-left: 1rem;
}

.resume ul li > ul,
.jobs ul {
  list-style-type: initial;
  padding-left: 1.5rem;
}

ul.meter_list {
  list-style-type: none;
  padding: 0;
}

ul.software_list {
  list-style-type: initial;
  padding-left: 1.5rem;
}
